<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Html" version="1.7.5330.21682" targetFramework="net45" />
  <package id="Constellation.Sitecore" version="1.7.5350.25752" targetFramework="net45" />
  <package id="Constellation.Sitecore.Items" version="1.7.5350.25874" targetFramework="net45" />
</packages>