<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Html" version="1.0.5189.24554" targetFramework="net45" />
  <package id="Constellation.Sitecore" version="1.0.5189.27028" targetFramework="net45" />
  <package id="Constellation.Sitecore.Items" version="1.0.5190.19040" targetFramework="net45" />
</packages>